/*Whole Page*/
html {
  background-color:#ECECEA;
}
/*Header*/
header {
  font-size: 2em;
  text-align: center;
  color: #558C89;
}

/*Navigation*/
nav {
  text-align: center;
  background-color: #558C89;
  font-size: 1.2em;
  border: 1px solid black;
}

nav a{
  margin-right: 20px;
  margin-left: 20px;
  color: #ECECEA;
  text-decoration: none;
  font-weight: bold;
  font-family: helvetica;
}

a:hover {
  color: #D9853B;
}

a:focus {
  color: #D9853B;
}

a:active {
  color: #ECECEA;
}

/*Main Page*/

main img{
  text-align: center;
  width: 350px;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

main p {
  text-align: center;
  color: #558C89;
  text-family: helvetica;
}

code {
  background-color: #74AFAD;
  display: block;
}

/*Footer*/
footer {
  border-top: 1px solid black;
  padding-top: 5px;
  color: #558C89;
  float: bottom;
}
.social {
  float: right;
}

.facebook , .email , .linkedin{
  width: 35px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.github {
  width: 35px;
  height: auto;
  -webkit-filter: opacity(80%);
}

.social img:hover{
  -webkit-filter: none;
  filter: none;
}
.social a{
  margin-right: 5px;
  margin-left: 5px;
}


/* Goal color scheme
Darker blue = #558C89
Lighter blue = #74AFAD
Orange = #D9853B
Grey = #ECECEA */